_shared/n8n_workflows/content_flow.json
{
  "name": "GoodySEO — ContentFlow Gateway",
  "nodes": [
    {
      "id": "n1-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "contentflow/run",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "n2-validate",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst headers = $input.first().json.headers || {};\n\nconst apiKey = headers['x-api-key'] || headers['X-Api-Key'] || '';\nconst topic = body.topic || '';\nconst platform = body.platform || 'instagram';\n\nif (!apiKey) throw new Error('Missing X-Api-Key header');\nif (!topic) throw new Error('Missing required field: topic');\n\nconst validPlatforms = ['instagram', 'linkedin', 'twitter', 'facebook'];\nif (!validPlatforms.includes(platform)) {\n  throw new Error(`Invalid platform. Must be one of: ${validPlatforms.join(', ')}`);\n}\n\nreturn [{ json: { apiKey, topic, platform } }];"
      }
    },
    {
      "id": "n3-call-api",
      "name": "Call ContentFlow API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8002/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "={{ $json.apiKey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "topic", "value": "={{ $json.topic }}" },
            { "name": "platform", "value": "={{ $json.platform }}" }
          ]
        },
        "options": { "timeout": 180000 }
      }
    },
    {
      "id": "n4-respond-ok",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "application/json" }]
          }
        }
      }
    },
    {
      "id": "n5-error-handler",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 480],
      "parameters": {
        "jsCode": "const err = $input.first().json;\nconst message = err.message || err.error || 'Internal error';\nconst statusCode = err.statusCode || err.status || 500;\nreturn [{ json: { error: message, status: statusCode } }];"
      }
    },
    {
      "id": "n6-respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status }}",
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "application/json" }]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]]
    },
    "Validate Payload": {
      "main": [[{ "node": "Call ContentFlow API", "type": "main", "index": 0 }]]
    },
    "Call ContentFlow API": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Handle Error", "type": "main", "index": 0 }]]
    },
    "Handle Error": {
      "main": [[{ "node": "Respond Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": ["goodyseo", "marketing", "contentflow"]
}
