_shared/n8n_workflows/trad_ai.json
{
  "name": "GoodySEO — TradAI Gateway",
  "nodes": [
    {
      "id": "n1-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "tradai/run",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "n2-validate",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst headers = $input.first().json.headers || {};\n\nconst apiKey = headers['x-api-key'] || headers['X-Api-Key'] || '';\nconst stockSymbol = (body.stock_symbol || '').toUpperCase().trim();\n\nif (!apiKey) throw new Error('Missing X-Api-Key header');\nif (!stockSymbol) throw new Error('Missing required field: stock_symbol');\nif (!/^[A-Z]{1,5}$/.test(stockSymbol)) {\n  throw new Error('Invalid stock_symbol. Must be 1-5 uppercase letters (e.g. AAPL, TSLA).');\n}\n\nreturn [{ json: { apiKey, stock_symbol: stockSymbol } }];"
      }
    },
    {
      "id": "n3-disclaimer",
      "name": "Add Disclaimer Header",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 300],
      "parameters": {
        "mode": "keepAllExisting",
        "assignments": {
          "assignments": [
            {
              "name": "_disclaimer_acknowledged",
              "value": "true",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "n4-call-api",
      "name": "Call TradAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8005/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Api-Key", "value": "={{ $json.apiKey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "stock_symbol", "value": "={{ $json.stock_symbol }}" }
          ]
        },
        "options": { "timeout": 300000 }
      }
    },
    {
      "id": "n5-respond-ok",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 200],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "X-Financial-Disclaimer", "value": "AI-generated analysis. Not financial advice. Consult a qualified advisor before investing." }
            ]
          }
        }
      }
    },
    {
      "id": "n6-error-handler",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 480],
      "parameters": {
        "jsCode": "const err = $input.first().json;\nconst message = err.message || err.error || 'Internal error';\nconst statusCode = err.statusCode || err.status || 500;\nreturn [{ json: { error: message, status: statusCode } }];"
      }
    },
    {
      "id": "n7-respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": "={{ $json.status }}",
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "application/json" }]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]]
    },
    "Validate Payload": {
      "main": [[{ "node": "Add Disclaimer Header", "type": "main", "index": 0 }]]
    },
    "Add Disclaimer Header": {
      "main": [[{ "node": "Call TradAI API", "type": "main", "index": 0 }]]
    },
    "Call TradAI API": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Handle Error", "type": "main", "index": 0 }]]
    },
    "Handle Error": {
      "main": [[{ "node": "Respond Error", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": ["goodyseo", "finance", "tradai"]
}
